*{
    margin: 0;
    padding: 0;
    background: #000;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.Switch{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
    margin: 0 10px
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
Switch input {display: none}
.slider:before
{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 5px;
    background-color: #fff;
    border-radius: 50px;
}

input:checked + .slider
{
    background-color: rgb(23, 241, 48);
}
input:checked + .slider:before
{
    transform: translateX(50px);
}
